
DJANGO_DEBUG=True/False 
DJANGO_ALLOWED_HOSTS ='ваш_хост','другой_хост_еслинада' 

DJANGO_SECRET_KEY=секретный_ключ


DB_NAME=название_базы_данных
DB_USER=логин_от_бд
DB_PASSWORD=пароль_от_бд
DB_HOST=localhost
DB_PORT=5432

DJANGO_CSRF_TRUSTED_ORIGINS=http://ваш_ip_из_ALLOWED_HOSTS
